@model List<HiFi.Dto.SetupDto>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <div class="row">
                <div class="col-xl-6 col-md-6 mb-xl-0 my-4">
                    <div class="card card-blog card-plain">
                        <div class="card-body p-3">
                            <h5>
                                @item.SetupName
                            </h5>
                            <p class="mb-4 text-sm">
                                @item.SetupDetail
                            </p>
                        </div>
                        <div class="img-container1">
                            @Html.Action("SetupPicturePartial", "Profile", new { id = @item.SetupId })
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 mb-xl-0 my-4">
                    @*kullanıcının componentlerini tanıttığı kısım*@
                    <div class="card-header pb-0 p-3">
                        <h6 class="mb-0">@item.SetupName İçindekiler</h6>
                    </div>
                    <div class="card-body p-3  align-middle">
                        @Html.Action("SetupComponentPartial", "Profile", new { id = @item.SetupId })
                    </div>
                </div>
            </div>
        </li>
    }
</ul>
<script>
    $(document).ready(function () {

        $(".img-container1").popupLightbox();
        popupLightbox.opti
    });
</script>
